!!!
%html
  %head
    %meta{:charset=>"UTF-8"}
    %title= Camobyte
    = stylesheet_link_tag "application", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
    /[lt IE 8]
      = stylesheet_link_tag "ie"
    = csrf_meta_tag
  %body.page
    .loginpage
      #loginform
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "flash-#{name}" if msg.is_a?(String)
        = yield
    = javascript_include_tag "application"

